@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  .vNav {
    top: 45%;
    left: 80%;
  }
}


@media only screen and (max-width: 480px) {
  .vNav {
    top: 40%;
    left: 70%;
  }
}
